<%- include("partial/header.ejs") -%>

<style>
  html {
        background-image: url("/img/res.png");
  /* background-position: center; */
  background-repeat: no-repeat;    background-size: cover;
    cursor: crosshair;
    overflow: hidden;
  }

  @import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Reggae+One&family=Yanone+Kaffeesatz&display=swap');

  h1 {
    font-family: 'Reggae One', cursive;
  }
</style>


<form method="post" id="form" name="form" action="/dash" >

  <div class="log">

    <h1 style="margin-left:-90px;margin-top:-80px;">
      Login </h1>
    <hr>
    <br>
    <br>

    <div class="input-field">
      <label for="username">Username:</label>

      <input type="text" id="username" name="name" required>
    </div>

    <div class="input-field">
      <label for="pwd">Password:</label>

      <input type="password" id="pwd" name="pwd" required >
      <br>
      <br>
      <button type="submit" class="btn btn-info"  style="float:right"  name="button"><strong><span>&nbsp;&#10148;&nbsp;</span> </strong></button>
      <br>

      <p id="wrong" name="wrong" class="blink" hidden><strong>Wrong Credentials</strong>
        <br>
        <a href="#" style="color:white">Forgot Password?</a>
      </p>
      <a href="#">
        <p class="fa fa-google" style="font-size:25px; margin-left:-50px;background:white;"> &nbsp; Login with Google</p>
      </a>
    </div>

  </div>

</form>

<%- include("partial/footer.ejs") -%>
