body {
  background-image: url('https://snap-photos.s3.amazonaws.com/img-thumbs/960w/Q8LG3RT8EP.jpg');
  background-size: 120%;
  font-family: 'Raleway', sans-serif;
  overflow: hidden;
}

.lead {
  width: 600px;
  color: #46526A;
  font-size: 2em;
  margin: 50px;
}

label {
  color: #46526A;
}
.container {
  width: 600px;
  height: 600px;
  margin-top: 150px;
  margin-left: 350px;
}

form {
 width: 100%;
}

input, label,select {
  width: 100%;
  line-height: 1.5em;
}

input,select {
  line-height: 2em;
}

.last-group, .first-group {
display: inline-block;
width: 240px;
  margin-bottom: 30px;
}

.first-group {
  float: left;
  margin-right: 115px;
}

.vac-group, .email-group {
  display: inline-block;

}

.vac-group {
  width: 110px;
}

.vac-group input {
  width: 150px;
}

.email-group {
  width: 290px;
  margin-left: 195.5px;
  padding-top: 2px;
}

input:placeholder-shown,
input {
  font-family: 'Raleway', sans-serif;
  font-size: .8em;
  font-weight: 400;
  outline: none;
}

.row {
  width: 100%;
}

button {
  width: 200px;
  height: 40px;
  border-radius: 4px;
  margin-top: 34px;
  margin-left: 200px;
  font-family: 'Raleway', sans-serif;
  font-size: 1em;
  font-weight: 500;
  background: #46526A;
  color: white;
  border: none;
  padding: 18px;
}


button:hover {
  background-color: #617293;
  cursor: pointer;
  outline: none;
}
.head{
  margin-top: 50px;
}
